<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Backtest executado.</h1>
		<% if @user.nil? %>
			<p>Usuário nao cadastrado.<p>
		<% else %>
			<p>Login: <%= @user.email %></p>
		<% end %>
  </body>
</html>
