<div class='panel' id='summary'>
  <h4> <%= t('comum.app') %></h4>
  <div>
    <p>Aplicativo web que permite que você faça backtest em seus setups.</p><br>
		<p>Caso você tenha alguma sugestão para melhorar a ferramenta, entre em contato pelo e-mail: <b> marcelo@powertask.com.br</b>
		</p>
		<br>
		<p>
			Alguns padroes ja estao cadastrados para voce usar. Caso desejar cadastrar os seus proprios padroes e necessario fazer login.
		</p>
	</div>
</div>

