<p>
  <b>Tipo candle:</b>
  <%=h @tipo_candle.tipo_candle %>
</p>

<p>
  <b>Description:</b>
  <%=h @tipo_candle.description %>
</p>


<%= link_to 'Edit', edit_tipo_candle_path(@tipo_candle) %> |
<%= link_to 'Back', tipo_candles_path %>