<div class="block">
  <div class="secondary-navigation">
    <div class="clear"></div>
  </div>          
  <div class="content">            
    <h2 class="title">Contato - Deixe seu recado</h2>
    <div class="inner">
      <% form_for @contacts, :action => "create", :html => { :class => :form } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>
