<div class='title_tools'>
  <%%= link_to(t('<%= singular_name %>.index'), <%= plural_name %>_path) %>
</div>

<div class='title'> <%%= t('<%= singular_name %>.new') %> </div>

<%%= render :partial => "form" %>
