<header class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-inner">
    <div class="container">
      <div class="navbar-header">
        <%= link_to(t("corporation"), root_path, class: "navbar-brand") %>
      </div>

      <% unless user_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a>
              <strong>Demonstração</strong>
              <strong>
              </strong>
            </a>
          </li>

          <%= render "layouts/menu" %>

          <li class='active'><%= link_to t("logout", default: "Logout"), destroy_user_session_path, method: :delete %></li>
        </ul>
      <% end %>
    </div>
  </div>
</header>
